// .skills {
//     background-color: #b8336a;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;

//     .arrow {
//         height: 50px;
//         position: absolute;

//         &.left {
//             left: 100px;
//             transform: rotateY(180deg);
//             cursor: pointer;
//         }

//         &.right {
//             right: 100px;
//             cursor: pointer;
//         }
//     }

//     .slider {
//         height: 350px;
//         display: flex;
//         position: absolute;
//         left: 0;

//         .container {
//             width: 100vw;
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             .item {
//                 width: 700px;
//                 height: 100%;
//                 background-color: #fff;
//                 border-radius: 20px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 .left {
//                     flex: 6; 
//                     height: 80%;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;

//                     .leftContainer {
//                         width: 90%;
//                         height: 70%;
//                         display: flex;
//                         flex-direction: column;
//                         justify-content: space-between;

//                         .imgContainer {
//                             width: 52px;
//                             height: 52px;
//                             border-radius: 50%;
//                             background-color: rgb(230, 178, 159);
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;

//                             img {
//                                 width: 35px;
//                             }
//                         }
//                         h2 {
//                             font-size: 20px;
//                         }

//                         p {
//                             font-size: 13px;
//                         }
//                     }
 
//                 }
//                 .right {
//                     flex: 8;  
//                     height: 100%;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;

//                     img {
//                         width: 350px;
//                         // transform: rotate(-10deg);
//                         // height: 400px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @import "../../global.scss";
@import "../../globals.scss";
.skills {
  background-color: #b8336a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .title {
    //   background-color: white;
      position: absolute;
      display: flex;
  }

  h1 {
    //   top: 1000;
    //   margin-top: 400px;
    //   right: 50%;
    //   bottom: 1000px;
      margin-bottom: 600px;
      color: white;
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 80%;
          height: 150px;
          margin: 15px 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 60px;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #b8336a;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 50px;
            //   margin-left: 20%;

              @include mobile {
                width: 20px;
                height: 20px;
              }

              img {
                width: 25px;
                filter: invert(1);

                @include mobile {
                  width: 15px;
                }
              }
            }
            h2 {
              margin-bottom: 60px;
              font-size: 20px;

              @include mobile{
                font-size: 13px;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 370px;
          }
        }
      }
    }
  }
}
