.about {
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.about-right {
    flex: 1;
}

.about-card.bg {
    position: absolute;
    top: 65px;
    left: 76px;
    background-color: #333;
}

.about-card {
    width: 60%;
    height: 65vh;
    border-radius: 30px;
    position: relative;
    // overflow: hidden;
}

.about-img {
    width: 100%;
    // height: 70%;
    object-fit: cover;
    border-radius: 30px;
}

.about-sub {
    margin: 20px 0;
    width: 95%;

}

.about-desc {
    margin: 20px 0;
    width: 95%
}